*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel build directories
.cache
.build

# JS files in the lambda folder should not be ignored
!lambda/**/*.js
